<!DOCTYPE html>
<html>

<head>
    <!-- Load all external styles first -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href='/static/style.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">

    <!-- Socket.io for websocket communication -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>


    <!-- SOCKET.IO INITIALISATION -->
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function () {
            socket.emit('my event', { data: 'I\'m connected!' });
        });

        socket.on('disconnect', function () {
            alert("Backend disconnected!");
        });
    </script>
</head>

<body>

    <!-- All body content -->
    <section class="section">

        <h1 class="title has-text-centered">SATELLITE LIVE FEED</h1>

        <div class="columns">
            <!-- Markers -->
            <div class="column is-narrow">

                <h2 class="heading has-text-centered">Marker Positions</h2>

                <!-- Markers table -->
                <div id="markers_container">
                    <table class="table has-text-centered" style="width: 320px;">
                        <thead>
                            <tr>
                                <th>X</th>
                                <th>Y</th>
                                <th>A</th>
                            </tr>
                        </thead>
                        <tbody id="markers_table">

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>

                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>
                        </tbody>
                    </table>
                    <script>
                        socket.on('update_markers', function (data) {
                            table_data = ""
                            markers = JSON.parse(data)

                            for (i = 0; i < markers.length; i++) {
                                if (markers[i] == 0) {
                                    table_data += `
                            <tr>
                                <th>?</th>
                                <th>?</th>
                                <th>?</th>
                            </tr>
                            `
                                } else {
                                    table_data += `
                            <tr>
                                <th>${markers[i][0]}</th>
                                <th>${markers[i][1]}</th>
                                <th>${markers[i][2]}</th>
                            </tr>
                            `
                                }
                            }

                            document.getElementById("markers_table").innerHTML = table_data
                        });
                    </script>
                </div>

            </div>
            <div class="column">

                <!-- Video live feed -->
                <div class="container">
                    <figure class="image is-16by9">
                        <img src="static/static.png" id="video_feed">
                        <script type="text/javascript">
                            function reload_video_feed() {
                                `
                                Refreshes video element on page to reconnect to feed
                                `
                                var d = new Date();
                                document.getElementById("video_feed").src = "/video_feed?a=" + d.getTime();
                            }
                        </script>
                    </figure>

                    <div class="container" id="logic_container">
                        <p id="logic" style="white-space:pre"></p>

                        <script>
                            socket.on("update_logic", function (data) {
                                `
                                Update element with new data
                                `
                                markers = JSON.parse(data)
                                document.getElementById("logic").innerText = JSON.stringify(markers, null, "\t")
                            });
                        </script>
                    </div>

                    <!-- Livestream aesthetics -->
                    <img src="static/mars-small.png" style="position: absolute; top: -70px; right: -100px;">
                    <img src="static/live.png" style="position: absolute; top: 25px; left: 25px;">

                    <!-- Mission timer -->
                    <p id="timer" style="position: absolute; top: 30px; left: 100px;"></p>

                    <script>
                        // Set the date we're counting down to
                        var countDownDate = new Date("Jul 5, 2020 00:00:00").getTime();

                        // Update the count down every 1 second
                        var x = setInterval(function () {

                            // Get today's date and time
                            var now = new Date().getTime();

                            // Find the distance between now and the count down date
                            var distance = countDownDate - now;

                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            // Output the result in an element with id="demo"
                            document.getElementById("timer").innerHTML = "T + " + -days + "d " + (-hours - 1) + "h "
                                + (-minutes - 1) + "m " + (-seconds - 1) + "s ";

                        }, 1000);
                    </script>
                </div>

                <!-- Controls -->
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <h2 class="heading has-text-centered">Satellite Controls</h2>
                            <div class="buttons is-centered">
                                <button class="button" onclick="socket.emit('connect_camera')">Camera</button>
                                <button class="button" onclick="reload_video_feed()">Stream</button>
                                <button class="button" onclick="socket.emit('start_comms')">Comms</button>
                                <!-- <button class="button" onclick="socket.emit('start_ui_logic')">Connect UI Logic</button> -->
                            </div>
                        </div>

                        <!-- If you were looking for an easter egg... here it is! -->
                        <!-- 🥚 -->

                        <div class="column">
                            <h2 class="heading has-text-centered">Engineer Controls</h2>
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>
                                    <span class="icon" id="status_engineer">
                                        ❌
                                    </span>
                                    <span>Engineer</span>
                                </button>

                                <script>
                                    socket.on("status_engineer", function (data) {
                                        `
                                        Update connection status of the Engineer
                                        `
                                        element = document.getElementById("status_engineer")

                                        if (data == "connected") {
                                            element.innerText = "🔗"
                                        } else {
                                            element.innerText = "❌"
                                        }
                                    });
                                </script>
                                <button class="button" onclick="socket.emit('start_engineer')">Start</button>
                                <button class="button" onclick="socket.emit('stop_engineer')">Stop</button>
                                <button class="button" onclick="socket.emit('increment_engineer_task')">Next</button>
                                <button class="button" onclick="socket.emit('decrement_engineer_task')">Prev</button>
                            </div>
                        </div>
                        <div class="column">
                            <h2 class="heading has-text-centered">
                                Ả̷̳̞͈̻̏l̴̢̡̛̹̮͕̳̜̙̝̭͈̫̟̣̦̏̇͆̀̑̐͗̔̎̆̿̃̕͝i̷̡̛͓̼̙͍͓̯̪̮͆̂͒ḙ̷̀̇̆̐͂̐̑͆̃̄̂͑̅n̸͇͂̆
                                ̷̙̤͈̠̗͚͍̬̠̈́̐͒̀͗͝Ċ̶̢̞̮͓̫́̃̀͑̀̊͒o̶̢̬̪̖͖̘̲͕̺̺͚͊́̈͌̈̌̆̇͛͒̍̇͘͜͝n̶̛̤͙͂́̍́̋̊̔̓͗́̒̾͒t̸̯̬̄ŗ̸̪̹̳̞̮̯̟͇̟̮̘̫̳͐͐̕ͅo̸̱̬̗͒̉̐̽̆̔̔̎̽l̶͉̦̗̳̭̯̝͋̆͋͐̑̅̔̔̒̏̒̒̉͘͝ͅş̵̛͎͚͚͉̮͉̑̊́͛̿̑̑͐
                            </h2>
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>
                                    <span class="icon" id="status_alien">
                                        ❌
                                    </span>
                                    <span>Alien</span>
                                </button>

                                <script>
                                    socket.on("status_alien", function (data) {
                                        `
                                        Update connection status of the Alien
                                        `
                                        element = document.getElementById("status_alien")

                                        if (data == "connected") {
                                            element.innerText = "🔗"
                                        } else {
                                            element.innerText = "❌"
                                        }
                                    });
                                </script>

                                <button class="button" onclick="socket.emit('start_alien')">Start</button>
                                <button class="button" onclick="socket.emit('stop_alien')">Stop</button>
                            </div>
                        </div>
                    </div>

                    <!-- DOOR CONTROLS -->
                    <h2 class="heading has-text-centered">Door Controls</h2>
                    <div class="columns">
                        <div class="column">
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>
                                    <span class="icon" id="status_compound">
                                        ❌
                                    </span>
                                    <span>Doors</span>
                                </button>
                                <script>
                                    socket.on("status_compound", function (data) {
                                        `
                                        Update connection status of the compound
                                        `
                                        element = document.getElementById("status_compound")

                                        if (data == "connected") {
                                            element.innerText = "🔗"
                                        } else {
                                            element.innerText = "❌"
                                        }
                                    });
                                </script>

                                <button class="button" onclick="socket.emit('initialise_doors')">Initialise</button>

                            </div>
                        </div>
                        <div class="column">
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>A</button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 0, 'state': true})">
                                    <span class="icon">
                                        <i class="fas fa-door-open"></i>
                                    </span>
                                </button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 0, 'state': false})">
                                    <span class="icon">
                                        <i class="fas fa-door-closed"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>B</button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 1, 'state': true})">
                                    <span class="icon">
                                        <i class="fas fa-door-open"></i>
                                    </span>
                                </button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 1, 'state': false})">
                                    <span class="icon">
                                        <i class="fas fa-door-closed"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>C</button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 2, 'state': true})">
                                    <span class="icon">
                                        <i class="fas fa-door-open"></i>
                                    </span>
                                </button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 2, 'state': false})">
                                    <span class="icon">
                                        <i class="fas fa-door-closed"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="buttons is-centered has-addons">
                                <button class="button" disabled>D</button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 3, 'state': true})">
                                    <span class="icon">
                                        <i class="fas fa-door-open"></i>
                                    </span>
                                </button>
                                <button class="button"
                                    onclick="socket.emit('toggle_doors', {'index': 3, 'state': false})">
                                    <span class="icon">
                                        <i class="fas fa-door-closed"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>