<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/style.css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
</head>

<body>

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>

    <img src="/video_feed" id="video_feed">
    <script type="text/javascript">
        function reload_video_feed() {
            var d = new Date();
            document.getElementById("video_feed").src = "/video_feed?a=" + d.getTime();
        }
    </script>
    <button onclick="reload_video_feed()">Reload camera</button>

    <button onclick="connect_camera()">Connect camera</button>

    <script type="text/javascript" charset="utf-8">
        // INITIALISATION
        var socket = io();
        socket.on('connect', function () {
            socket.emit('my event', { data: 'I\'m connected!' });
        });

        // SEND COMMANDS
        function connect_camera() {
            socket.emit('connect_camera');
        }

        // RESPONSE COMMANDS
        socket.on('my response', data => {
            console.log(data);
        });
    </script>

</body>

</html>